<div class="row">
  <div class="col-8 m-auto">
    <form  [formGroup]="formGroupStudent">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Estudantes
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome do Aluno">
        <div *ngIf="submitted && name.invalid">
          <small class="text-danger">Nome Inválido!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Institucional:</label>
        <input type="text" formControlName="email" class="form-control" id="email"
          placeholder="Email institucional do aluno">
          <div *ngIf="submitted && email.invalid">
            <small class="text-danger">Email Inválido!</small>
          </div>
      </div>
      <div class="mb-3">
        <label for="data" class="form-label">Data de Nascimento:</label>
        <input type="date" formControlName="data" class="form-control" id="data">
        <div *ngIf="submitted && data.invalid">
          <small class="text-danger">Data Inválida!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Número:</label>
        <input type="number" formControlName="phone" class="form-control" id="phone">
        <div *ngIf="submitted && phone.invalid">
          <small class="text-danger">Número Inválida!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="foto" class="form-label">Foto:</label>
        <input type="text" formControlName="foto" class="form-control" id="foto" placeholder="Link da foto do estudante">
        <div *ngIf="submitted && foto.invalid">
          <small class="text-danger">Foto Inválida!</small>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex flex-nowrap gap-2">
          <label class="form-check-label">Estudante aprovado ? :</label>
          <div class="form-check">
            <input type="checkbox" formControlName="status" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-end gap-2">
        <button class="btn btn-success" (click)="save()">Salvar</button>
        <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
